node_modules
**/node_modules
.svelte-kit
**/.svelte-kit
.next
**/.next
dist
**/dist
build
**/build
.turbo
**/.turbo
.env
.env.*
!.env.example
*.log
**/*.log
.git
.gitignore
.vscode
.idea
*.md
**/*.md
!README.md